
/* div {
    width:350px;
    height:100px;
    border:1px;
    display: inline-block;
    vertical-align:top;
}*/

body {
    background-color:black; color:white;
}

hr {
    width: 50%;
    height: 5px;
    background-color: black;
}
main{
    display:flex;
    justify-content:center;
}
#footer{
    
    text-align:center;
}
#header{
    display:flex;
    justify-content:center;
}
#links{
    display:flex;
    justify-content:center;
}
nav a{
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;    /* removes underline*/
    color:white;         /* by default, links are blue*/
}
nav a:hover {
    border-bottom:2px orange solid;
    font-size:2em;
    transition: 0.9;
}
#image{
     text-align:center;
}

table{
    margin: 0px auto; /* centers table by changeing the margin on the left and right to auto */
}
td {
    padding-right: 10px;
    font-size: 1.3em;
}
td strong{
    color:orange;
}
    
#table-header {
    background-color: #351a00;
}  
.table-row{
    background-color: #753900;
}
     
ul {
    text-align: left; 
    padding-left: 200px;
}   

.hobby{
    
    color: yellow;
}

#content {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    
}